:root {
--bg-color: rgb(194, 194, 194);
--bg-border: rgb(100, 100, 100);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

header {
  margin: 20px;
}

h1 {
  color: var(--bg-border);
  padding: 8px;
  display: inline;
  border-bottom: double 6px var(--bg-border);
}